* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
}

#start {
  width: 100vw;
  height: 100vh;
  background-color: red;
  color: rgb(255, 237, 237);
  display: flex;
  align-items: center;
  justify-content: center;
}
