* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
}
::selection {
  color: white;
  background-color: black;
}

#start {
  width: 100vw;
  height: 100vh;
  font-family: 'TT Firs Neue Educational', system-ui, sans-serif;
  font-weight: 500;
  background-color: red;
  color: rgb(255, 237, 237);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 8vw;
  font-size: 6vw;
}
