* {
  box-sizing: border-box;
}

html,
body {
  background-color: #ff1c20;
  color: #ffedee;
  margin: 0;
  padding: 0;
  font-family: 'TT Firs Neue Educational', system-ui, sans-serif;
  font-weight: 500;
}

body {
  width: 60vw;
  margin: 50px 20vw;
}

#logo {
  width: 300px;
  margin: 0;
}

h1 {
  font-size: 70px;
  margin: 30px 0;
  font-weight: 900;
}

p {
  font-size: 30px;
  margin: 30px 0;
}

img {
  width: 100vw;
  margin: -2px -20vw;
}

@media screen and (max-width: 600px) {
  body {
    width: 94vw;
    margin: 10px 3vw;
  }

  img {
    margin: -2px -3vw;
  }

  h1 {
    font-size: 40px;
  }

  p {
    font-size: 20px;
  }
}
